Getting Started

In [ ]:
import pandas as pd                   # pip install pandas
df = pd.read_csv('QueryResults.csv')  # Read from csv, giving custom column names and setting the heading as row 0

# Show Dataframe

In [ ]:
df = pd.read_csv('QueryResults.csv')
df.head()   # show first 5 rows
df.tail()   # show last 5 rows
df.shape    # show number of rows and columns
df.columns  # show column names

# Nan Values

In [ ]:
df.isna()           # check for missing values
df = df.dropna()    # drop rows with missing values

# Accessing Columns

In [52]:
df["tag"]
df["posts"].max()
df["posts"].min()
df["posts"].mean()
df["posts"].idxmax()    # Get the index of the highest value
df["posts"].idxmin()    # Get the index of the lowest value
df.loc[17]              # See entry at index 17
df[["tag", "posts"]]    # filer columns
df['tag'][13]           # Access entry at index 13 in column tag

'delphi'

# Adding Columns

In [ ]:
new_column = "Programming"
df.insert(3, "Type", new_column)    # index location, column name, value

# Grouping

In [63]:
df.groupby('tag').count()   # number of entries
df.groupby('tag').max()     # most entries on a day
df.groupby('tag').min()

# Sorting values
df.groupby("tag").max().sort_values("posts", ascending=False)

                           date  posts         Type
tag
python      2020-07-01 00:00:00  34478  Programming
javascript  2020-07-01 00:00:00  25196  Programming
java        2020-07-01 00:00:00  22109  Programming
php         2020-07-01 00:00:00  18564  Programming
c#          2020-07-01 00:00:00  16265  Programming
c++         2020-07-01 00:00:00   8701  Programming
r           2020-07-01 00:00:00   7047  Programming
swift       2020-07-01 00:00:00   5160  Programming
c           2020-07-01 00:00:00   4586  Programming
ruby        2020-07-01 00:00:00   2957  Programming
perl        2020-07-01 00:00:00    984  Programming
go          2020-07-01 00:00:00    887  Programming
delphi      2020-07-01 00:00:00    574  Programming
assembly    2020-07-01 00:00:00    455  Programming

# Sorting Values

In [62]:
df.sort_values("posts", ascending=False)

                           date  posts         Type
tag
python      2020-07-01 00:00:00  34478  Programming
javascript  2020-07-01 00:00:00  25196  Programming
java        2020-07-01 00:00:00  22109  Programming
php         2020-07-01 00:00:00  18564  Programming
c#          2020-07-01 00:00:00  16265  Programming
c++         2020-07-01 00:00:00   8701  Programming
r           2020-07-01 00:00:00   7047  Programming
swift       2020-07-01 00:00:00   5160  Programming
c           2020-07-01 00:00:00   4586  Programming
ruby        2020-07-01 00:00:00   2957  Programming
perl        2020-07-01 00:00:00    984  Programming
go          2020-07-01 00:00:00    887  Programming
delphi      2020-07-01 00:00:00    574  Programming
assembly    2020-07-01 00:00:00    455  Programming