Basics

In [50]:
import pandas as pd                                                             # pip install pandas
df = pd.read_csv('QueryResults.csv', names=['DATE', "TAG", "POSTS"], header=0)  # Read from csv, giving custom column names and setting the heading as row 0
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

Working with Column

In [55]:
# Check for any NaN values in the dataset
df.isna()
df.isna().values.any()

df["POSTS"].max()                   # maximum value in the column
df["POSTS"].min()                   # minimum value in the column
df["POSTS"].mean()                  # mean value in the column

df.DATE = pd.to_datetime(df.DATE)   # convert the column to datetime

Sorting Values / Grouping Values

In [59]:
df.sort_values("POSTS", ascending=False)

df.groupby("TAG").count()           #  count the number of posts per tag
df.groupby("TAG").sum()             #  sum the number of posts per tag

        DATE         TAG  POSTS
0 2008-07-01          c#      3
1 2008-08-01    assembly      8
2 2008-08-01  javascript    162
3 2008-08-01           c     85
4 2008-08-01      python    124

Pivot

In [64]:
reshaped_df = df.pivot(index='DATE', columns='TAG', values='POSTS')
reshaped_df.fillna(0, inplace=True)                                 # replacing missing values with 0
reshaped_df.head()

TAG,assembly,c,c#,c++,delphi,go,java,javascript,perl,php,python,r,ruby,swift
DATE,,,,,,,,,,,,,,
2008-07-01,0.00,0.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2008-08-01,8.00,85.00,511.00,164.00,14.00,0.00,222.00,162.00,28.00,161.00,124.00,0.00,73.00,0.00
2008-09-01,28.00,321.00,"1,649.00",755.00,105.00,0.00,"1,137.00",640.00,131.00,482.00,542.00,6.00,290.00,0.00
2008-10-01,15.00,303.00,"1,989.00",811.00,112.00,0.00,"1,153.00",725.00,127.00,617.00,510.00,0.00,249.00,0.00
2008-11-01,17.00,259.00,"1,730.00",735.00,141.00,0.00,958.00,579.00,97.00,504.00,452.00,1.00,160.00,0.00